

<form action = '/links' method='post'>
  <input type='text' name='url' placeholder='url' required>
  <input type='text' name='title' placeholder='title' required>
  <input type='text' name='tag' placeholder='tag'>
  <input type='submit' value='Create link'>
</form>